<hr/>
<h3>Featured Product</h3>

<!-- start table -->
<table>

<!-- row #1 -->
<tr style="margin:auto; padding:auto;">
  <td style="text-align: center;width: 256px; height: 200px;margin:auto; padding:auto;">
    <img src={{ site.baseurl }}/images/featured/snapVCC1.1sm.jpg />
  </td>
  <td style="margin:auto; padding:20px;">
    <strong>snapVCC</strong> is a tiny 3.3 V / 5 V voltage regulator that snaps right on top of a 9 volt battery.
    It is a highly portable and convenient power supply for your electronics projects.
    <a style = "text-decoration: underline;" href="https://www.crowdsupply.com/electronut/snapvcc">Click to buy.</a>
  </td>
</tr>

<!-- end table -->
</table>

<hr/>

<h3>Featured Article</h3>

<!-- start table -->
<table>

<!-- row #1 -->
<tr style="margin:auto; padding:auto;">
  <td style="text-align: center;width: 256px; height: 200px;margin:auto; padding:auto;">
    <img src={{ site.baseurl }}/images/featured/ble-lamp-final-sm.jpg />
  </td>
  <td style="margin:auto; padding:20px;">
    Hacking a Cheap Diwali LED Lamp with Nordic nRF51822 BLE SoC and controlling it via a phone.
    <a style = "text-decoration: underline;" href="http://electronut.in/diwali-lamp/">Click to read more.</a>
  </td>
</tr>

<!-- end table -->
</table>


<hr/>
