<hr />

<h3>Support electronut.in</h3>
<p>
Generating original content for electronut.in takes up a lot of my
time and monetary resources. If you found this article useful, please
consider making a small donation. This will help me maintain
electronut.in as a high quality Ad-free website.
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="glman74@gmail.com">
<input type="hidden" name="lc" value="IN">
<input type="hidden" name="item_name" value="Support electronut.in">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynow_LG.gif:NonHostedGuest">
<table>
<tr><td><input type="hidden" name="on0" value="Donate">Donate</td></tr><tr><td><select name="os0">
	<option value="*"> &hearts; $5.00 USD</option>
	<option value="**">&hearts; &hearts; $10.00 USD</option>
	<option value="***">&hearts; &hearts; &hearts; $15.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="option_select0" value="*">
<input type="hidden" name="option_amount0" value="5.00">
<input type="hidden" name="option_select1" value="**">
<input type="hidden" name="option_amount1" value="10.00">
<input type="hidden" name="option_select2" value="***">
<input type="hidden" name="option_amount2" value="15.00">
<input type="hidden" name="option_index" value="0">
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

<hr />


